<h2>Comandos a Ejecutar:</h2>

<form method="post" action="/inicio2">
    <textarea name="datos_ingresados" col="10" rows="10"></textarea>
    
    <input type="submit" value="ejecutar">
</form>

<label>Superficie de Terreno: <%=@superficie%> </label><br/> 

<label>Auto 1:</label><br/>
<label>Posicion Inicial: <%=@posicion_inicial%></label><br/>
<label>Comandos: <%=@comandos%></label><br/>
<label>Posicion Final: <%=@posicion_final%></label><br/>

<label>Auto 2: </label><br/>
<label>Posicion Inicial: <%=@posicion_inicial%></label><br/>
<label>Comandos: <%=@comandos%></label><br/>
<label>Posicion Final: <%=@posicion_final%></label><br/>
