<h2>Comandos a Ejecutar:</h2>

<form method="post" action="/inicio2">
    <textarea name="datos_ingresados" col="10" rows="20"></textarea>
    
    <input type="submit" value="ejecutar">
</form>

<label>Superficie de Terreno: <%=@superficie%> </label><br/> 

<label>Auto 1:</label><br/>
<label>Posicion Inicial: <%=@pos_ini%></label><br/>
<label>Comandos: <%=@comds%></label><br/>
<label>Posicion Final: <%=@pos_fin%></label><br/>

<label>Auto 2: </label><br/>
<label>Posicion Inicial: <%=@pos_ini2%></label><br/>
<label>Comandos: <%=@comds2%></label><br/>
<label>Posicion Final: <%=@pos_fin2%></label><br/>
